.canvas-container {
  padding-top: calc(9 / 16 * 100%);
  position: relative;
  width: 100%;
}

canvas {
  background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 
  50% / calc(100% / 8) calc(100% / 4.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
