@import '../../styles/variables';

.canvas-container {
  padding: $canvas-margin;
  .canvas-container--width {
    margin: auto;
    max-width: calc((100vh - #{$canvas-margin * 2}) * 16 / 9);

    .canvas-container--height {
      padding-top: calc(9 / 16 * 100%);
      position: relative;

      canvas {
        background: #ffff90;
        background: repeating-conic-gradient(rgb(236, 236, 236) 0% 25%, white 0% 50%) 
        50% / calc(100% / 8) calc(100% / 4.5);
        background-position: 0 100%;
        border: 2px solid black;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
}
